@font-face {
     font-family: 'Roboto-Light';
     font-style: normal;
     font-weight: 300;
     src: local('Roboto-Light'), local('Roboto-Light'), 
     url('../fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
     font-family: 'Roboto-Bold';
     font-style: normal;
     font-weight: 700;
     src: local('Roboto-Bold'), local('Roboto-Bold'), 
     url('../fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
     font-family: 'Roboto-Regular';
     font-style: normal;
     font-weight: 400;
     src: local('Roboto-Regular'), local('Roboto-Regular'), 
     url('../fonts/Roboto-Regular.ttf') format('truetype');
}
h2{
     font-family: 'Roboto-Bold';
     font-size: 45px;
}
p{
     font-family: 'Roboto-Light';
     font-size: 18px;
}
.btn-primary {
    color: #fbf6f6;
    background-color: #2bd5bc;
    border-color: #e8eff7;
}


.Polylavis,.video,.transformative,.merits {

	padding: 80px 0;
}
.features {
    background: url(../images/bg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
}
.features-txt {
    padding-top: 109px;
}

.video {
    max-width: 203%;
    height: auto;
}
.Merits-txt span {
    margin-left: 20px;
}
ul{
     padding: 0;
}



.license-and-patent-img{
     display: flex;
}
 

.research-team {
    padding: 4%;
}
.research-img{
     display: flex;
}
.research-team-txt{
    position: relative;
    right: -25px;
}
.license-and-patent-txt{
    position: relative;
    right: -25px;
}


}
.video i{
    border: 1px solid;
    border-radius: 50%;
    height: 35px;
    width: 43px;
    padding: 12px 30px 29px 22px;
    transform: translate(525px, -303px);
    color: aliceblue;
    left: -360px;
    top: -63px;
}


.about-txt{
    background: #ebefee;
    padding: 15px 15px;
}
.more{
    color: black;
    text-decoration: none;
}
.learn more{
     color: black;
}
.Merits-txt{
    position: relative;
    bottom: 4px;
}
.Merits-txt li{
    list-style-type: none;

}
.about-txt a {
    text-decoration: none;
}
.well a{
    color: #07080a;
    text-decoration: none;
}
.transformative-txt a {
    text-decoration: none;
}
.transformative {
    position: relative;
    top: -294px;
}
.research-team-txt a{
   text-decoration: none; 
   
}
.license-and-patent-txt a {
   text-decoration: none;   
}
.fa-solid {
    position: relative;
    /* top: -276px; */
    /* left: 578px; */
    color: antiquewhite;
    transform: translate(557px, -301px);
    border-radius: 50%;
    border: 2px solid white;
    padding: 6px 11px;
}



.teams{
    position: relative;
    top: -245px;
}
.container1{
    position: relative;
    right: -322px;
    top: -55px;
}
 .container2{
    position: relative;
    right: -503px;
    top: -223px;
}
 .container3{
    position: relative;
    right: -671px;
    top: -348px;
}
.text-muted-1 {
    position: relative;
    right: -920px;
    top: -27px;
    color: darkgrey;
}
.text-muted {
    color: #050506; !important;
    
}
.logo {
    position: relative;
    top: 0px;
}


.container-fluid p-0{
    background: lightgrey;
}
.Contact {
    padding: 50px 0;
    
}
.contact{
    position: relative;
    top: -163px;
}
.footer{
    background: lightgrey;
    padding: 24px;
}


.fa-square-x-twitter {
    position: relative;
    top: -434px;
    right: -933px;
}

.navbar-nav li{
     padding: 0 10px;
}
.container-fluid1{
    background-color: lightgrey;
    position: relative;
}
.logo img ,.list-unstyled,.media{
    margin-top: 0px;
}
.copy ,.powered {
    margin-top: 65px;
    
}
.powered{
    text-align: end;
    color: gray;
    
}
.powered a{
  color: #6c757d;
    text-decoration: none;  
}

.fa-twitter,.fa-linkedin{
    border: 1px solid #6c757d;
    color: #837e7e;
    border-radius: 50%;
    padding: 5px 8px;
    font-size: 15px;
}
.video {
    position: relative;
    top: -47px;
}
.features {
    position: relative;
    top: -287px;
}
.merits{
    position: relative;
    top: -294px;
}
#gradient-span-inner {
    border: 1px solid #18638d;
    background: #18638d;
    border-radius: 50%;
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-top: 15px;
}
.fa-home{
position: relative;
    bottom: -7px;
    color: black;
}




@media (max-width: 767px) and (max-width:767px) {
 .carousel-item img{
   height: 170px; 
 }

.Polylavis, .video, .transformative, .merits {
    padding: 50px 0;
}
.about {
    position: relative;
    top: -53px;
}
.video{
    position: relative;
    top: -66px;
}
.fa-solid{
    position: relative;
    left: -380px;
    bottom: -188px;
}
.teams {
    position: relative;
    left: -11px;
}
.features-txt{
    padding-top: 35px;
}
h2 {
    font-size: 28px;
}
p,.breadcrumb-item a,.breadcrumb-item.active,.inventor-profile li,.product li,.roadmap-profile li,.gradient-circle span1{
    font-size: 15px;
}
#home-logo {
    position: relative;
    left: 0;
    width: 60%;
}
#navbarNavDropdown {
    justify-content: initial;
}
.navbar-toggler, .navbar-toggler:focus {
    border: none;
    box-shadow: none;
}
.navbar-toggler-icon {
    position: absolute;
    right: 10px;
    width: 35px;
    top: -40px;
}
.navbar-collapse {
    background: #fff;
    left: 0;
    padding: 0 10px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 3;
    border: 1px solid #ccc;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: static;
}
.dropdown-menu {
    background-color: #fff;
    border-top: 4px solid #16618f;
    width: 100%;
}
.dropdown-menu::before{
    display: none;
}
.fa-caret-up {
    display: none;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
/*.control-btn-1 {
    top: 110px;
    right: 4em;
}
.control-btn-1 .fa-arrow-right {
    left: 30px;
}*/
.intro,.transform{
    padding: 58px 0;
}
/*.video-1{
    padding-top: 58px;
}*/
.bg-video-wrap video {
    height: 153px;
}
.bg-video-wrap h1 {
    top: -40px;
    font-size: 18px;
    right: 0;
    text-align: center;
}
.intro-text span {
    font-size: 20px;
}
.intro-text {
    top: 0px;
    padding-top: 20px;
    margin-left: 0px;
    padding-right: 0px;
}
.intro-arrow {
    padding: 0 0;
}
.intro-arrow a, .features-arrow a, .research-arrow a {
    font-size: 14px;
}
.about-text{
    padding: 5vh 4vh 20px 4vh;
    height: auto;
}
.fa-play-circle {
    bottom: 110px;
    font-size: 45px;
}

.transform-text {
    top: 0px;
    padding-top: 20px;
    right: 0;
    padding-right: 0;
}
.features-text p {
     padding-right: 0px; 
}
.features-text {
    top: 6vh;
}
.gradient-circle span,.gradient-circle-inner span {
    font-size: 18px;
}
#gradient-span,.#gradient-span-inner{
    width: 30px;
    height: 30px;
    line-height: 30px;
}
.gradient-circle b {
    font-size: 15px;
    padding-left: 3px;
}
.ul-1,.ul-1-inner {
    top: -105px;
    left: 25vh;
}
.features {
    height: 648px ;
    margin-top: 0px;
    position: relative;
     right: 0px;
    
}
.features-img{
    position: relative;
    top: -18px;
}
#features-image {
    top: 80px;
    left: 0;
}
.research-img{
    position: relative;
    top: -55px;
}
.merits{
    padding: 58px 0 45px 0;
    position: relative;
        right: -5px;
}
.merits-text,.features-inner-text,.merits-text-inner,.about-inner {
    right: 0px;
    top: 0;
    padding-top: 20px;
}
.merits-bullet img {
    position: relative;
    left: -15px;
}
.merits-bullet li {
    text-indent: -30px;
}
.merits-bullet span {
    font-size: 15px;
}
.research-text {
    top: 0px; 
    left: 0;
    padding-bottom: 20px;
}
.research-text p {
    padding-right: 0;
}
.contact-form a {
    font-size: 20px;
    padding: 1vh 3vh 1vh 3vh;
}
.footer-1 a,.copy p, .power p,.power a {
    font-size: 16px;
}
.links ul, .links-1 ul, .policy ul {
    top: 0; 
    left: 0;
    padding-bottom: 0px;
}
.logo-footer img {
    margin-top: -60px;
}
.links li, .links-1 li, .policy li {
    padding-bottom: 0px;
}
.media a {
    margin-top: 0;
}
.fa-linkedin-in {
    margin-left: 0;
    font-size: 14px;
    padding: 6px 7px;
}
.fa-youtube{
    font-size: 14px;
    padding: 7px 6px;
}
.copy {
    margin: 10px 0 0 0px;
}
.power {
    text-align: start;
    margin-top: 0;
}
#return-to-top i {
    font-size: 17px;
}
.nav-item1 i {
    margin: 10px 0px;
}
#features-inner {
    width: auto;
}
#contact-inner {
    padding-top: 0; 
}
.gradient-circle-inner p {
    left: 45px;
    height: auto;
    padding-right: 0;
    font-size: 15px;
}

.overview {
    padding-top: 0;
}
.patent-text {
    margin-bottom: 35px;
    margin-left: 0;
    padding-right: 0;
}
.patent-text p{
    margin-top: 0;
}
.patent-img {
    margin-bottom: 15px;
    padding: 10px 10px;
}

a {
    color: #000;
    text-decoration: none;
}
.teams{
    position: relative;
    top: -271px;
}
.article-txt{
    position: relative;
    bottom: -55px;
}
.about-inner{
    position: relative;
    bottom: -30px;
}

}

@media (min-width: 768px) and (max-width:991px) {

h2 {
    font-size: 30px;
}
p {
    font-size: 15px;
}
.fa-solid{
    position: relative;
    left: -229px;
    bottom: -108px;
}
.features-img{
    position: relative;
    bottom: -47px;
}
}
}